---
import Layout from '../layouts/Layout.astro';
import AddActivityButton from '../components/vue/AddActivityButton.vue';
import SimplicityCalendar from '../components/vue/SimplicityCalendar.vue'
---

<Layout title="Simplicity">
	<main>
		<div class="control-pane">
			<AddActivityButton client:load></AddActivityButton>
		</div>
		<SimplicityCalendar client:load></SimplicityCalendar>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	
	.control-pane {
		display: flex;
		align-items: center;
		justify-content: center;

		margin: 20px;
	}
</style>
