---
import Layout from '../layouts/Layout.astro';
import AddActivityButton from '../components/vue/AddActivityButton.vue';
import SimplicityCalendar from '../components/vue/SimplicityCalendar.vue'
---

<Layout title="Simplicity">
	<main>
		<div class="control-pane">
			<AddActivityButton client:load></AddActivityButton>
		</div>
		<div class="calendar-container">
			<SimplicityCalendar client:load></SimplicityCalendar>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		/* max-width: 60ch; */
	}
	
	.control-pane {
		display: flex;
		align-items: center;
		justify-content: center;

		margin: 20px;
	}

	.calendar-container {
		height: 1000px;
	}
</style>
