---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Simplicity">
	<main>
		<h1>Sign-in</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		display: flex;
		justify-content: center;
		color: var(--text-color);
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
