---
export interface Props {
	title: string;
    href: string;
}

const { title, href } = Astro.props;
---

<h1>test</h1>
<a class="functional-header" href={href}>
    <div class="title-block" @click="navigateToHome">
        <h1 class="title">{ title }</h1>
    </div>
</a>

<style>
h1 {
    color: var(--text-color);
    text-decoration: none;
    
}

h1.title {
    padding: 10px 20px 12px 20px;
}

a.functional-header {
    width: 100vw;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--secondary-background);
    border-bottom: solid 1px var(--accent);
    text-decoration: none;
}

.title-block {
    background: var(--background);
    border-radius: 15px;
    box-shadow: 0px 2px 14px var(--accent);
    width: fit-content;
    height: fit-content;
    margin-left: 22px;
}

.title-block:hover {
    cursor: pointer;
    transform: scale(1.1); /* Scale the whole block on hover */
    transition: transform 0.3s ease-in-out; /* Smoother scaling effect */
}

.title-block:hover h1.title {
    animation: shake 0.25s cubic-bezier(.36,.07,.19,.97) both; /* Apply shaking effect to the text */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/* Define shaking animation */
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(3px, 0, 0);
    }
}
</style>